.mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que ocupe toda la altura de la ventana */
    background-color: rgba(0, 123, 255, 0.1);
    text-align: center;
}

.mensaje p {
    font-size: 40px; /* Hacer el texto grande */
    font-weight: bold;
    color: #007BFF; /* Color azul */
    text-transform: uppercase; /* Poner todo el texto en mayúsculas */
    margin: 0;
}